# Copy this to /etc/systemd/system

[Unit]
Description=Prusa Camera Service based on Picamera
After=network.target

[Service]
ExecStart=/home/siggib/prusacam/startcam.sh
WorkingDirectory=/home/siggib/prusacam
Restart=always

[Install]
WantedBy=multi-user.target
